@page
@model SpecialElection.Areas.Special.Pages.ElectionView.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Election</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Election.Name" class="control-label"></label>
                <input asp-for="Election.Name" class="form-control" />
                <span asp-validation-for="Election.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Election.ElectionDate" class="control-label"></label>
                <input asp-for="Election.ElectionDate" class="form-control" />
                <span asp-validation-for="Election.ElectionDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Election.IsActive" /> @Html.DisplayNameFor(model => model.Election.IsActive)
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
